{% extends "base.html" %}

{% block head %}
{% endblock %}
{% block body %}
<div class="gap-30"></div>
<div class="gap-30"></div>
<div class="gap-30"></div>
<div class="gap-30"></div>
<h1 style="text-align:center"> All contents on this page were created by Thomas Zöllinger (Data Scientist at Adastra GmbH).</h1>
<h1 style="text-align:center"> All criticisms and suggestions are welcome. You can contact me via:</h1>
<h1 style="text-align:center"> <a href="https://de.linkedin.com/in/thomas-z%C3%B6llinger-2a11a0b8"> LinkedIn,</a></h1 style="text-align:center">
<h1 style="text-align:center"> business mail: Thomas.Zoellinger@adastragrp.com,</h1>
<h1 style="text-align:center"> or private mail: thomaszoellinger@gmail.com</h1>
{% endblock %}