{% extends "base.html" %}

{% block head %}
    <link href="{{url_for('static', filename='css/style.css') }}" rel=stylesheet type=text/css>
{% endblock %}

{% block body %}


<h1> Prediction</h1>
<h2> Enter a valid html link into this form, to get a prediction what the rent should be, according to the metadata</h2>
<h2> Valid htmls must be looked up here:
    <a href="https://www.wg-gesucht.de/wg-zimmer-in-Frankfurt-am-Main.41.0.0.0.html"> https://www.wg-gesucht.de/wg-zimmer-in-Frankfurt-am-Main.41.0.0.0.html</a>
</h2>
<div class="gap-10"></div>



<form action="{{ url_for('predict2')}}"method="post">
    <input name="predict" placeholder="Enter link here" required="required" size="400" type="text" />
    <button class="btn btn-primary btn-block btn-large" type="submit">Predict</button>
</form>
<div class="gap-30"></div>
<div>
    <title>Simple tables</title>
    <link href="{{url_for('static', filename='css/style.css') }}" rel=stylesheet type=text/css>
    <p> </p>
    <h2> Metadata was extracted for the following link: {{ titles }} </h2>
    <div class=page>
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
    </div>
</div>
<div>
<h1> Rent prediction based on metadata </h1>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<left>
    <canvas height="400" id="chart1" width="800"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels3 %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in pred_values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart1 = document.getElementById("chart1").getContext("2d");

       steps = {{max2/100}}
       max = {{max2}}

     // draw bar chart
     new Chart(mychart1).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: 100,
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       scaleFontSize: 18
       }
     );

    </script>
</left>
</div>
<div class="gap-30"></div>
<h1> Shap Values </h1>
<h2>
    To get a feeling for what has effected the gradient boosting model the most for it's prediction
    we can visualize the impact with shap values
</h2>
<img src="\static\{{shap_name}}" alt="User Image6">

<h1> Custom Prediction </h1>
<h2>
    Adjust the values from the advertisement above and see how the changes will effect the prediction
</h2>
<div class="gap-20"></div>
<div style="width: 100%;">
    <form action="{{ url_for('predict3')}}" method="post">
        <button class="btn btn-primary btn-block btn-large" type="submit">Predict Custom</button>
        <div class="gap-20"></div>
        <div style="width: 50%; float: left;">
            <label style="margin-bottom: .2rem"  for="lname" >Zimmergröße</label>
            <input  type="number" id="lname" name="zimmergröße" value= {{zimmer_var}} style="height: 50px " >

            <label style="margin-bottom: .2rem"  for="PLZ">PLZ</label>
            <select name="PLZ" id="PLZ" style="height: 50px">
                <option value="{{plz_var}}">{{plz_var}}</option>
                {% for each in plz_list if each != plz_var %}
                <option value="{{each}}">{{each}} </option>
                {% endfor %}
            </select>

        <label style="margin-bottom: .2rem"  for="Buildings">Buildings</label>
        <select name="buildings" id="Buildings" style="height: 50px">
            <option value="{{building_var}}">{{building_var}}</option>
            {% for each in building_list if each != building_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="Personen">Personen</label>
        <input  type="number" id="Personen" name="personen" value= {{person_var}} style="height: 50px">

        <label style="margin-bottom: .2rem"  for="bed">Bed</label>
        <select name="bed" id="bed" style="height: 50px">
            <option value="{{bed_var}}">{{bed_var}}</option>
            {% for each in bed_list if each != bed_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="fire">Fire</label>
        <select name="fire" id="fire" style="height: 50px">
            <option value="{{fire_var}}">{{fire_var}}</option>
            {% for each in fire_list if each != fire_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="status">Status</label>
        <select name="status" id="status" style="height: 50px">
            <option value="{{status_var}}">{{status_var}}</option>
            {% for each in status_list if each != status_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="rauchen">Rauchen</label>
        <select name="rauchen" id="rauchen" style="height: 50px">
            <option value="{{rauchen_var}}">{{rauchen_var}}</option>
            {% for each in rauchen_list if each != rauchen_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="stock">Stock</label>
        <select name="stock" id="stock" style="height: 50px">
            <option value="{{stock_var}}">{{stock_var}}</option>
            {% for each in stock_list if each != stock_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="car">Car</label>
        <select name="car" id="car" style="height: 50px">
            <option value="{{car_var}}">{{car_var}}</option>
            {% for each in car_list if each != car_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="straße">Straße</label>
        <select name="straße" id="straße" style="height: 50px">
            <option value="{{straße_var}}">{{straße_var}}</option>
            {% for each in straße_list if each != straße_var %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="wohnung">Wohnung</label>
        <input  type="number" id="wohnung" name="wohnung" value= {{wohnung_var}} style="height: 50px">

        <label style="margin-bottom: .2rem"  for="bus">Bus</label>
        <input  type="number" id="bus" name="bus" value= {{bus_var}} style="height: 50px">

        <label style="margin-bottom: .2rem"  for="dauer">Dauer</label>
        <input  type="number" id="dauer" name="dauer" value= {{dauer_var}} style="height: 50px">

        <label style="margin-bottom: .2rem"  for="ablösevereinbarung">Ablösevereinbarung</label>
            <input  type="number" id="ablösevereinbarung" name="ablösevereinbarung" value= {{abloese_var}} style="height: 50px">

        </div>
        <div style="margin-left: 50%;">
        <label style="margin-bottom: .2rem"  for="beruf_wg">Beruf_wg</label>
        <select name="beruf_wg" id="beruf_wg" style="height: 50px">
            <option value="{{beruf_wg}}">{{beruf_wg}}</option>
            {% for each in bool_list if each != beruf_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="studenten_wg">Studenten_wg</label>
        <select name="studenten_wg" id="studenten_wg" style="height: 50px">
            <option value="{{studenten_wg}}">{{studenten_wg}}</option>
            {% for each in bool_list if each != studenten_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="spuelmaschine">Spuelmaschine</label>
        <select name="spülmaschine" id="spuelmaschine" style="height: 50px">
            <option value="{{spuelmaschine}}">{{spuelmaschine}}</option>
            {% for each in bool_list if each != spuelmaschine %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="parkett">Parkett</label>
        <select name="parkett" id="parkett" style="height: 50px">
            <option value="{{parkett}}">{{parkett}}</option>
            {% for each in bool_list if each != parkett %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="keller">Keller</label>
        <select name="keller" id="keller" style="height: 50px">
            <option value="{{keller}}">{{keller}}</option>
            {% for each in bool_list if each != keller %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="balkon">Balkon</label>
        <select name="balkon" id="balkon" style="height: 50px">
            <option value="{{balkon}}">{{balkon}}</option>
            {% for each in bool_list if each != balkon %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="aufzug">Aufzug</label>
        <select name="aufzug" id="aufzug" style="height: 50px">
            <option value="{{aufzug}}">{{aufzug}}</option>
            {% for each in bool_list if each != aufzug %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="fliesen">Fliesen</label>
        <select name="fliesen" id="fliesen" style="height: 50px">
            <option value="{{fliesen}}">{{fliesen}}</option>
            {% for each in bool_list if each != fliesen %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="fussbodenheizung">Fussbodenheizung</label>
        <select name="fußbodenheizung" id="fussbodenheizung" style="height: 50px">
            <option value="{{fussbodenheizung}}">{{fussbodenheizung}}</option>
            {% for each in bool_list if each != fussbodenheizung %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="gemischt_wg">Gemischt_wg</label>
        <select name="gemischt_wg" id="gemischt_wg" style="height: 50px">
            <option value="{{gemischt_wg}}">{{gemischt_wg}}</option>
            {% for each in bool_list if each != gemischt_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="waschmaschine">Waschmaschine</label>
        <select name="waschmaschine" id="waschmaschine" style="height: 50px">
            <option value="{{waschmaschine}}">{{waschmaschine}}</option>
            {% for each in bool_list if each != waschmaschine %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="teppich">Teppich</label>
        <select name="teppich" id="teppich" style="height: 50px">
            <option value="{{teppich}}">{{teppich}}</option>
            {% for each in bool_list if each != teppich %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="kabel">Kabel</label>
        <select name="kabel" id="kabel" style="height: 50px">
            <option value="{{kabel}}">{{kabel}}</option>
            {% for each in bool_list if each != kabel %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="dusche">Dusche</label>
        <select name="dusche" id="dusche" style="height: 50px">
            <option value="{{dusche}}">{{dusche}}</option>
            {% for each in bool_list if each != dusche %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="pvc">PVC</label>
        <select name="pvc" id="pvc" style="height: 50px">
            <option value="{{pvc}}">{{pvc}}</option>
            {% for each in bool_list if each != pvc %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="badewanne">Badewanne</label>
        <select name="badewanne" id="badewanne" style="height: 50px">
            <option value="{{badewanne}}">{{badewanne}}</option>
            {% for each in bool_list if each != badewanne %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="zweck_wg">Zweck_wg</label>
        <select name="zweck_wg" id="zweck_wg" style="height: 50px">
            <option value="{{zweck_wg}}">{{zweck_wg}}</option>
            {% for each in bool_list if each != zweck_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="laminat">Laminat</label>
        <select name="laminat" id="laminat" style="height: 50px">
            <option value="{{laminat}}">{{laminat}}</option>
            {% for each in bool_list if each != laminat %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="garten">Garten</label>
        <select name="garten" id="garten" style="height: 50px">
            <option value="{{garten}}">{{garten}}</option>
            {% for each in bool_list if each != garten %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="azubi_wg">Azubi_wg</label>
        <select name="azubi_wg" id="azubi_wg" style="height: 50px">
            <option value="{{azubi_wg}}">{{azubi_wg}}</option>
            {% for each in bool_list if each != azubi_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="satellit">Satellit</label>
        <select name="satellit" id="satellit" style="height: 50px">
            <option value="{{satellit}}">{{satellit}}</option>
            {% for each in bool_list if each != satellit %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="terrasse">Terrasse</label>
        <select name="terrasse" id="terrasse" style="height: 50px">
            <option value="{{terrasse}}">{{terrasse}}</option>
            {% for each in bool_list if each != terrasse %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="dielen">Dielen</label>
        <select name="dielen" id="dielen" style="height: 50px">
            <option value="{{dielen}}">{{dielen}}</option>
            {% for each in bool_list if each != dielen %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="frauen_wg">Frauen_wg</label>
        <select name="frauen_wg" id="frauen_wg" style="height: 50px">
            <option value="{{frauen_wg}}">{{frauen_wg}}</option>
            {% for each in bool_list if each != frauen_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="keine_zweck_wg">Keine_zweck_wg</label>
        <select name="keine_zweck_wg" id="keine_zweck_wg" style="height: 50px">
            <option value="{{keine_zweck_wg}}">{{keine_zweck_wg}}</option>
            {% for each in bool_list if each != keine_zweck_wg %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>


        <label style="margin-bottom: .2rem"  for="fahrradkeller">Fahrradkeller</label>
        <select name="fahrradkeller" id="fahrradkeller" style="height: 50px">
            <option value="{{fahrradkeller}}">{{fahrradkeller}}</option>
            {% for each in bool_list if each != fahrradkeller %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="gartenmitbenutzung">Gartenmitbenutzung</label>
        <select name="gartenmitbenutzung" id="gartenmitbenutzung" style="height: 50px">
            <option value="{{gartenmitbenutzung}}">{{gartenmitbenutzung}}</option>
            {% for each in bool_list if each != gartenmitbenutzung %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>

        <label style="margin-bottom: .2rem"  for="haustiere">Haustiere</label>
        <select name="haustiere" id="haustiere" style="height: 50px">
            <option value="{{haustiere}}">{{haustiere}}</option>
            {% for each in bool_list if each != haustiere %}
            <option value="{{each}}">{{each}} </option>
            {% endfor %}
        </select>
        </div>


    </form>
</div>



{% endblock %}